input[type="file"]::file-selector-button {
  cursor: grab;
  background-color: black;
  font-size: 1em;
  padding: 2%;
  border-radius: 5px;
  color: white;
}

.auth-div {
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: white;
  padding: 2%;
  max-width: 300px;
  min-height: 350px;
}

.but {
  background-color: rgb(6, 36, 63);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.input {
  border: 1px solid #5c8a8a;
}
.input-brief {
  border: 1px solid #5c8a8a;
}

.input:hover {
  background-color: #f2f2f2;
  border-color: #86acac;
}

.input-brief:hover {
  background-color: #f2f2f2;
  border-color: #86acac;
}
.universities-div {
  justify-content: center;
}
